USE [master]
GO
/****** Object:  Database [Health_Centre_Lyamkin]    Script Date: 03.03.2026 2:42:16 ******/
CREATE DATABASE [Health_Centre_Lyamkin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Health_Centre_Lyamkin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Health_Centre_Lyamkin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Health_Centre_Lyamkin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Health_Centre_Lyamkin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Health_Centre_Lyamkin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Health_Centre_Lyamkin]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 03.03.2026 2:42:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[IdGender] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[IdGender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalSpecialists]    Script Date: 03.03.2026 2:42:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalSpecialists](
	[IdMedicalSpecialist] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_MedicalSpecialists] PRIMARY KEY CLUSTERED 
(
	[IdMedicalSpecialist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 03.03.2026 2:42:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[IdPatient] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[GenderId] [int] NOT NULL,
	[BirthdayDate] [date] NOT NULL,
	[InsurancePolicy] [nvarchar](100) NOT NULL,
	[FluorographyDate] [date] NOT NULL,
	[ClinicalExaminationDate] [date] NULL,
	[Height] [int] NOT NULL,
	[Weight] [int] NOT NULL,
	[DisabilityGroup1] [int] NULL,
	[DisabilityGroup1Date] [date] NULL,
	[DisabilityGroup2] [int] NULL,
	[DisabilityGroup2Date] [date] NULL,
	[DisabilityGroup3] [int] NULL,
	[DisabilityGroup3Date] [date] NULL,
	[ImagePatch] [nvarchar](100) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[IdPatient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visits]    Script Date: 03.03.2026 2:42:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visits](
	[IdVisit] [int] IDENTITY(1,1) NOT NULL,
	[VisitDate] [date] NOT NULL,
	[PatientId] [int] NOT NULL,
	[MedicalSpecialistId] [int] NOT NULL,
 CONSTRAINT [PK_Visits] PRIMARY KEY CLUSTERED 
(
	[IdVisit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([IdGender], [Name]) VALUES (1, N'Мужской')
INSERT [dbo].[Gender] ([IdGender], [Name]) VALUES (2, N'Женский')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalSpecialists] ON 

INSERT [dbo].[MedicalSpecialists] ([IdMedicalSpecialist], [Name]) VALUES (1, N'Лор')
INSERT [dbo].[MedicalSpecialists] ([IdMedicalSpecialist], [Name]) VALUES (2, N'Терапевт')
INSERT [dbo].[MedicalSpecialists] ([IdMedicalSpecialist], [Name]) VALUES (3, N'Хирург')
SET IDENTITY_INSERT [dbo].[MedicalSpecialists] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([IdPatient], [FullName], [GenderId], [BirthdayDate], [InsurancePolicy], [FluorographyDate], [ClinicalExaminationDate], [Height], [Weight], [DisabilityGroup1], [DisabilityGroup1Date], [DisabilityGroup2], [DisabilityGroup2Date], [DisabilityGroup3], [DisabilityGroup3Date], [ImagePatch]) VALUES (1, N'Петров Петр Петрович', 1, CAST(N'2002-10-30' AS Date), N'XV 998-45-68', CAST(N'2024-12-22' AS Date), CAST(N'2024-10-23' AS Date), 192, 85, 1, CAST(N'2024-12-12' AS Date), NULL, NULL, NULL, NULL, N'1.jpg')
INSERT [dbo].[Patients] ([IdPatient], [FullName], [GenderId], [BirthdayDate], [InsurancePolicy], [FluorographyDate], [ClinicalExaminationDate], [Height], [Weight], [DisabilityGroup1], [DisabilityGroup1Date], [DisabilityGroup2], [DisabilityGroup2Date], [DisabilityGroup3], [DisabilityGroup3Date], [ImagePatch]) VALUES (2, N'Сидоров Сидор Сидорович', 1, CAST(N'2003-07-06' AS Date), N'II 998-45-69', CAST(N'2024-01-21' AS Date), CAST(N'2024-11-22' AS Date), 178, 95, NULL, NULL, NULL, NULL, NULL, NULL, N'')
INSERT [dbo].[Patients] ([IdPatient], [FullName], [GenderId], [BirthdayDate], [InsurancePolicy], [FluorographyDate], [ClinicalExaminationDate], [Height], [Weight], [DisabilityGroup1], [DisabilityGroup1Date], [DisabilityGroup2], [DisabilityGroup2Date], [DisabilityGroup3], [DisabilityGroup3Date], [ImagePatch]) VALUES (3, N'Веревкина Мария Евгеньевна', 2, CAST(N'1998-02-04' AS Date), N'III  998-45-64', CAST(N'2024-02-13' AS Date), CAST(N'2024-08-25' AS Date), 169, 65, NULL, NULL, NULL, NULL, NULL, NULL, N'2.jpg')
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Visits] ON 

INSERT [dbo].[Visits] ([IdVisit], [VisitDate], [PatientId], [MedicalSpecialistId]) VALUES (1, CAST(N'2024-01-20' AS Date), 1, 1)
INSERT [dbo].[Visits] ([IdVisit], [VisitDate], [PatientId], [MedicalSpecialistId]) VALUES (2, CAST(N'2024-01-21' AS Date), 2, 2)
INSERT [dbo].[Visits] ([IdVisit], [VisitDate], [PatientId], [MedicalSpecialistId]) VALUES (3, CAST(N'2024-01-22' AS Date), 3, 3)
SET IDENTITY_INSERT [dbo].[Visits] OFF
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([IdGender])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Gender]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_MedicalSpecialists] FOREIGN KEY([MedicalSpecialistId])
REFERENCES [dbo].[MedicalSpecialists] ([IdMedicalSpecialist])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_MedicalSpecialists]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([IdPatient])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Patients]
GO
USE [master]
GO
